li {
    font-family: 'Ubuntu Condensed', sans-serif;
}

p, .portfolio-link {
    font-family: 'Ubuntu Condensed', sans-serif;
}

#profile-name-header{
  font-family: 'Ubuntu Condensed', sans-serif;
  padding: 0 2px 0 0;
  font-size: 30px;
  display: inline;
  margin-bottom: 0;
  text-align: center;
  color: rgba(255,255,255,0.1);
  background: #ed8080; /* Old browsers */
  background: -moz-linear-gradient(left,  #ed8080 0%, #2a77d6 16%, #5eb524 32%, #eacd25 48%, #ed8080 64%, #2a77d6 80%, #5eb524 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed8080), color-stop(16%,#2a77d6), color-stop(32%,#5eb524), color-stop(48%,#eacd25), color-stop(64%,#ed8080), color-stop(80%,#2a77d6), color-stop(100%,#5eb524)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #ed8080 0%,#2a77d6 16%,#5eb524 32%,#eacd25 48%,#ed8080 64%,#2a77d6 80%,#5eb524 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #ed8080 0%,#2a77d6 16%,#5eb524 32%,#eacd25 48%,#ed8080 64%,#2a77d6 80%,#5eb524 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #ed8080 0%,#2a77d6 16%,#5eb524 32%,#eacd25 48%,#ed8080 64%,#2a77d6 80%,#5eb524 100%); /* IE10+ */
  background: linear-gradient(to right,  #ed8080 0%,#2a77d6 16%,#5eb524 32%,#eacd25 48%,#ed8080 64%,#2a77d6 80%,#5eb524 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed8080', endColorstr='#5eb524',GradientType=1 ); /* IE6-9 */
  -webkit-background-size: 300% 300%;
  -moz-background-size: 300% 300%;
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
            animation:diao infinite 3s linear;
         -o-animation:diao infinite 3s linear;
       -moz-animation:diao infinite 3s linear;
    -webkit-animation:diao infinite 3s linear;
  background-repeat: no-repeat;
  background-position: top left;
  background-color: #222;
}

cmd {
    text-decoration: underline;
    cursor: pointer;
}

@keyframes diao {
    from {
        background-position: top left;
    }
    to {
        background-position: top right;
    }
}


.help {
    list-style: none;
    padding-left: 5px;
    margin: 2px;
}

.help li {
    border: 1px solid rgba(0,0,0,0);
    border-left: 2px solid green;
    margin: 5px 5px ;
    padding: 10px;
    cursor: pointer;
    transition: border .25s ease;
    display: inline-block;
}

.help li:hover {
    border: 1px solid green;
    border-left: 2px solid green;
}

.help li .help-key {
    text-decoration: none;
    display: inline-block;
    margin: 0;
    color: #50f16c;
}

.help li .help-desc {
    margin: 0;
    margin-left: 5px;
    font-weight: 300;
}

/*
    Skills
*/

.skills {
    list-style: none;
    padding-left: 5px;
    margin: 2px;
}

.skills li{
    padding: 5px;
    transition: border .5s ease;
}

.skills li .skill-key {
    text-decoration: none;
    display: inline-block;
    margin: 0;
    color: #50f16c;
}

.skills li:hover {
    border: 1px solid green;
}

.skill-bar {
  width: 100%;
  max-width: 350px;
  height: 5px;
  background: #e6eae3;
  background: rgb(8,102,220);
  background: rgba(8,102,220,.2);
  overflow: hidden;
  border-radius:5px;
  margin: 5px 0;
}

.skill-value {
  height: 5px;
  float: left;
  background: #50f16c;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#002400+0,005700+17,008a00+33,52b152+67,83c783+83,b4ddb4+100 */
background: #002400; /* Old browsers */
background: -moz-linear-gradient(left, #002400 0%, #005700 17%, #008a00 33%, #52b152 67%, #83c783 83%, #b4ddb4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #002400 0%,#005700 17%,#008a00 33%,#52b152 67%,#83c783 83%,#b4ddb4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #002400 0%,#005700 17%,#008a00 33%,#52b152 67%,#83c783 83%,#b4ddb4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002400', endColorstr='#b4ddb4',GradientType=1 ); /* IE6-9 */

  -webkit-animation: slideIn 2s;
  -moz-animation: slideIn 2s;
  -o-animation: slideIn 2s;
  animation: slideIn 2s;
}

* Allowed values for the css skill bars */
.p-00  { width: 0;    }
.p-10  { width: 10%;  }
.p-20  { width: 20%;  }
.p-30  { width: 30%;  }
.p-40  { width: 40%;  }
.p-50  { width: 50%;  }
.p-60  { width: 60%;  }
.p-70  { width: 70%;  }
.p-80  { width: 80%;  }
.p-90  { width: 90%;  }
.p-100 { width: 100%; }

/*///////////////////////////////////////////////////
    // Animation \\
///////////////////////////////////////////////////*/
@-webkit-keyframes slideIn {
  0% { width: 0; }
  100% { width: normal; }
}
@-moz-keyframes slideIn {
  0% { width: 0; }
  100% { width: normal; }
}
@-ms-keyframes slideIn {
  0% { width: 0; }
  100% { width: normal; }
}
@-o-keyframes slideIn {
  0% { width: 0; }
  100% { width: normal; }
}
@keyframes slideIn {
  0% { width: 0; }
  100% { width: normal; }
}



.portfolio-link {
    color: #50f16c;
}

.portfolio-link a {
    color: #fff;
    text-decoration: underline;
}

.gallery {
    list-style: none;
    padding-left: 5px;
    margin: 5px;
    display: flex;
}

@media (max-width: 736px) {
    .gallery {
        width: 100%;
        overflow-x: scroll;
    }

    .gallery::-webkit-scrollbar {
        width: 0px;  /* remove scrollbar space */
        background: transparent;  /* optional: just make scrollbar invisible */
    }

    output {
        overflow: hidden;
        width: 100%;
    }
}

.gallery li {
    flex: 1;
    max-width: 100px;
    position: relative;
    padding: 5px;
    border: 1px solid #50f16c;
    text-align: center;
    color: #50f16c;
    cursor: pointer;
    margin: auto 5px;
    height: 150px;
}

.gallery li img {
    width: 100px;
    height: 100px;
}

.gallery li.active {
    position: fixed;
    min-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: #000;
    z-index: 100;
    margin: 0;
    padding: 0;
    border: none;
}

.gallery li.active img {
    width: 100%;
    height: auto;
    max-height: 80%;
}

.gallery li:hover {
    -webkit-box-shadow: 0px 0px 14px 0px rgba(161, 195, 87, 0.75);
    -moz-box-shadow:    0px 0px 14px 0px rgba(161, 195, 87, 0.75);
    box-shadow:         0px 0px 14px 0px rgba(161, 195, 87, 0.75);
}