/* Button Style */

.btn {
    background: #111;
    color: #fff;
    margin: 1em;
    border: none;
    transition: all 1s;
    padding: 1em 0em 1em 3em;
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: .05em;
    border-radius: 2em;
    cursor: pointer;
    position: relative;
    display: inline-block;
    height: 1em;
    width: 0;
    max-width: 0;
    i {
      position: absolute;
      left: .75em;
      top: .75em; 
    }
    
    i.fa {
      font-size: 1.25em;
    }
    
    .text {
      display: inline-block;
      opacity: 0;
      transition: all .3s;
      transition-delay: 0s;
      min-width: 100px;
      transform: translateX(.5em);
    }
  }
  
  .btn.expand, .expand-on-hover:hover {
    padding: 1em 2em 1em 3.5em;
    max-width: 10em;
    width: auto;
    .text {
      opacity: 1;
      transition-delay: .3s;
      min-width: inherit;
      transform: translateX(0);
    }
  }
  
  .btn {
    &-purple {
      background-color: #8EC5FC;
      background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    }
    
    &-grey {
      background-color: rgba(204, 204, 204, 0.5);
    }
  }