.header-block {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    transition: all .5s;
    margin-top: 40px;
    span.tip {
        display: block;
        font-size: 2em;
        
    }

    h2 {
        display: block;
        font-size: 3.5em;
        margin: 0.5em auto;
    }
}