
body {
  font-size: 12px;
  color: #345274;
  height: 100vh;
  background: #f2f2f2 linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%);
}

/*

 typography

*/

h1,h2,h3,h4,h5,h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  margin: .5em auto
}

h3 {
  font-size: 2em;
}

h6 {
    font-size: 1.25em;
    margin: 0;
}

p {
  font-size: 1.5em;
  font-family: 'Arimo', sans-serif;
  line-height: 1.5em;
}
/*

 View

*/
.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 1s;
  background: #ccc;
  overflow-y: scroll;
  position:　relative;
  .about-btn {
    transition: all .5s;
    opacity: 0;
    margin-top: 2em;
    display: none;
    font-size: 2em;
    animation: fadeInTop 1.5s;
    margin: 6em auto;
    i {
      left: 1em;
      
    }
  }
  
  .about-btn:hover {
    background-color: #53dbff;
    background-image: linear-gradient(19deg, #65bbf7 0%, #98d2fa 100%);
    box-shadow: 5px 5px 12px rgba(194, 195, 195, 0.75);
  }
}

.container.block, .about.block{
  display: block;
  text-align: center;
}

.intro {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  color: #111;
  animation: fadeInTop 2s ease-out;
  background: #fff;
  transition: all 1.5s;
  
  span {
    opacity: 1;
    transition: opacity .5s ;
  }
}

.intro.active {
    height: 3em;
    width: 3em;
    border-radius: .5em;
    margin: auto;
    margin-top: 3em;
  span {
    opacity: 0;
  }
}

.logo {
  width: 80%;
  animation: fadeInTop 1.5s;
}


.about {
  margin-top: 15vh;
  display: none;
  
  &-name {
    font-family: 'Quicksand', sans-serif;
    font-size: 5.5em;
    font-weight: 600;
    animation: fadeInTop 1.5s;
    text-shadow: 5px 5px 5px rgba(194, 195, 195, 0.75);
    color: #fff;
    letter-spacing: 1px;
    transition: all 2s;
    margin-bottom: .25em;
  }
  
  &-name.reveal {
    text-shadow: 5px 5px 5px rgba(194, 195, 195, 0);
  }
  
  &-title {
    font-size: 1.25em;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    color: #0a80d2;
    animation: fadeInTop .5s;
  }
  
  &-detail {
    width: 100%;
    padding: 10em 0;
    min-height: 40em;
    padding-bottom: 0;

    &_intro {
      max-width: 980px;
      width: 60%;
      margin: 3em auto;
      font-size: 1.5em;
      font-family: 'Arimo', sans-serif;
      line-height: 1.5em;
      color: #ccc;
      transition: all .5s;
    }

    &_badges {
      max-width: 980px;
      width: 60%;
      margin: 3em auto;
      transition: all .5s;

      &-badge {
        padding: .5em;
        height: 5em;
        font-family: 'Quicksand', sans-serif;
        font-size: 1.25em;
        font-weight: 500;
        display: inline-block;
        img {
          display: block;
          margin: .75em auto;
          height: 100%;
        }
      }
    }

    &_photo {
      margin-top: 5em;
    }
  }
}


.skills {
  min-height: 60em;
  padding: 7em 0;
  color: #111;
  background: #fff;
  padding-bottom: 0;
  &_intro {
    max-width: 980px;
    width: 60%;
    margin: 3em auto;
    font-size: 1.5em;
    font-family: 'Arimo', sans-serif;
    line-height: 1.5em;
    color: #4e4e4e;
    transition: all .5s;
  }

  &_data {
  }

  &-bg {
    height: auto;
    width: 100%;
    margin-top: -15em;
    transition: all .5s;
  }

  &-btn {
    font-family: 'Quicksand', sans-serif;
    margin-top: 5em !important;
    z-index: 1;
  }
}

.experiences {
  min-height: 60em;
  background: #f2f2f2 linear-gradient(to bottom, white 0%, #f2f2f2 100%);
  box-shadow: 0px 0px 5em rgba(17, 17, 17, .33);
  transform: perspective(1000px);
  padding: 8em 0;
  color: #111;
  position: relative;

  &_intro {
    max-width: 980px;
    width: 60%;
    margin: 3em auto;
    font-size: 1.5em;
    font-family: 'Arimo', sans-serif;
    line-height: 1.5em;
    color: #4e4e4e;
    transition: all .5s;
  }

  &_content {
    margin: 10em auto;

    p {
      color: #4e4e4e;
      font-size: 1em;
      line-height: 1.75em;
    }

    &-item {
      margin: 3em auto;
      &_date {
        padding-top: 1.25em;

        &-year {
          font-size: 1.75em;
          font-weight: 300;
          margin: 0 auto;
        }

        &-month {
          font-family: 'Arimo', sans-serif;
          font-size: 1em;
          margin-right: 3.5em;
          text-transform: capitalize;
        }
      }
    }
  }
}

.icon-list {
    list-style: none;
    padding: 0;
    font-size: 3em;
    margin: .75em auto;

    li {
      display: inline-block;
      margin-right: .5em;
      color: #8e8e8e;
      background: -webkit-linear-gradient(#8e8e8e, #2f2f2f);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    li:hover {
      color: #af1e2d;
      background: -webkit-linear-gradient(#e24f60, #af1e2d);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
}

@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(-15px) perspective(1000px);
  }
  to {
    opacity: 1;
    transform: translateY(0px) perspective(1000px);
  }
}

.bs {
  box-shadow:
    inset 0 7em 10em -5em rgba(255,255,255,0.6),
    0 0.3em 0.5em -0.2em rgba(100,100,100,1),
    0 1em 2em -0.75em rgba(100,100,100,0.75),
    0 1em 3em -0.5em rgba(100,100,100,0.5),
    0 3em 3em -0.25em rgba(100,100,100,0.2);
}

.bs-2 {
  box-shadow:
    0 0.3em 0.5em -0.2em rgba(100,100,100,1),
    0 1em 2em -0.75em rgba(100,100,100,0.75),
    0 1em 3em -0.5em rgba(100,100,100,0.5),
    0 3em 3em -0.25em rgba(100,100,100,0.2);
}

.bg-dark {
  background: #161616;
  color: #fff;
}

.bg-white {
  background-color: #fff; 
}

.bg-blue {
  background: rgba(53,166,245,1);
  box-shadow:
    inset 0 7em 10em -5em rgba(255,255,255,0.6),
    0 0.3em 0.5em -0.2em rgba(47,131,189,1),
    0 1em 2em -0.75em rgba(47,131,189,0.75),
    0 1em 3em -0.5em rgba(47,131,189,0.5),
    0 3em 3em -0.25em rgba(47,131,189,0.2);
}

.bg-grey {
  background: rgba(150,150,150,1);
  box-shadow:
    inset 0 7em 10em -5em rgba(255,255,255,0.6),
    0 0.3em 0.5em -0.2em rgba(100,100,100,1),
    0 1em 2em -0.75em rgba(100,100,100,0.75),
    0 1em 3em -0.5em rgba(100,100,100,0.5),
    0 3em 3em -0.25em rgba(100,100,100,0.2);
}


.text-left {
  text-align: left !important;
}

.max-960 {
  max-width: 960px;
}

.w-60p {
  width: 60%;
}

.m-auto {
  margin: auto;
}

.m-b-5 {
  margin-bottom: 5em;
}

.text-grd-red {
  color: #af1e2d;
  background: -webkit-linear-gradient(#e24f60, #af1e2d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-grd-blue {
  color: #98d2fa;
  background: -webkit-linear-gradient(#98d2fa, #65bbf7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}