<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    {{#if css}}
      <style>
        {{{ css }}}
      </style>
    {{else}}
    <link rel="stylesheet" href="main.css">
      <link rel="stylesheet" href="app.css">
    {{/if}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:300,400|Arimo">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    {{#if js}}
      <script>
        {{{ js }}}
      </script>
    {{else}}
      <script src='app.js'></script>
    {{/if}}
  </body>
</html>
